# environment variables - all are required
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_BUCKET_NAME= # don't include the s3:// part here
export AWS_STATIC_SITE_BUCKET_NAME= # if you're not hosting the site itself on s3 leave this blank
export AWS_IMAGEHOST_DOMAIN="https://${AWS_BUCKET_NAME}.s3.amazonaws.com" # replace this with the url to your cdn without the trailing slash, i.e. https://picturetube.s3.us-east-1.amazonaws.com